body{
    background-color: rgb(235, 221, 221);
}

.result{
    color: rgb(147, 147, 236);
    font-size: 120px;
}

.area{
    border: 2px solid rgb(12, 173, 12);
}

.green{
    color: rgb(26, 182, 26);
}

.red{
    color: rgb(236, 75, 75);
}