@font-face {
    font-family: 'Public Sans';
    src: url('../fonts/PublicSans-Bold.eot');
    src: url('../fonts/PublicSans-Bold.eot') format('embedded-opentype'),
        url('../fonts/PublicSans-Bold.woff') format('woff'),
        url('../fonts/PublicSans-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Public Sans';
    src: url('../fonts/PublicSans-Light.eot');
    src: url('../fonts/PublicSans-Light.eot') format('embedded-opentype'),
        url('../fonts/PublicSans-Light.woff') format('woff'),
        url('../fonts/PublicSans-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Public Sans';
    src: url('../fonts/PublicSans-Medium.eot');
    src: url('../fonts/PublicSans-Medium.eot') format('embedded-opentype'),
        url('../fonts/PublicSans-Medium.woff') format('woff'),
        url('../fonts/PublicSans-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Public Sans';
    src: url('../fonts/PublicSans-Regular.eot');
    src: url('../fonts/PublicSans-Regular.eot') format('embedded-opentype'),
        url('../fonts/PublicSans-Regular.woff') format('woff'),
        url('../fonts/PublicSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Public Sans';
    src: url('../fonts/PublicSans-Thin.eot');
    src: url('../fonts/PublicSans-Thin.eot') format('embedded-opentype'),
        url('../fonts/PublicSans-Thin.woff') format('woff'),
        url('../fonts/PublicSans-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}
html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Public Sans';   
}

h1, h2, h3, h4, h5, h6, a, p{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

div{
    margin: 0;
    padding: 0;
}

.container{
    width: 100%;
    padding: 0 15px;
    max-width: 1110px;
    margin: 0 auto;
}
/* ************************************************** */
.humburger{
    display: none;
}

header{
    background-color: #ffffff;
    z-index: 1;
    position: relative;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header.container {
    box-sizing: border-box;
}

.logo{
    width: 139px;
    height: 20px;
    object-fit: contain;
}

.logo:hover{
    opacity: .8;
}

.logo:active{
    opacity: .6;
}

.header_menu{
    display: flex;
    align-items: center;
}

.header_link{
    padding: 32px 0;
    margin-right: 30px;
    position: relative;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: -0.107692px;
    color: #9597A5;
}

.header_link:last-child{
    margin-right: 0;
}

.header_link::before{
    content: "";
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    width: 0;
    height: 3px;
    background: linear-gradient(135deg, #33D35E 0%, #2AB6D9 99.58%);
    transition: all ease .5s;
}

.header_link:hover::before{
    width: 100%;
}

.invite{
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 28px;
    color: #FFFFFF;
    background: linear-gradient(135deg, #33D35E 0%, #2AB6D9 99.58%);
    border-radius: 22px;
    padding: 8px 34px;
    display: inline-block;
    transition: all ease .5s;
}

.invite:hover{
    opacity: .8;
}

.invite:active{
    opacity: .6;
}
/* ****************************************************************** */
.humbur-menu{
    display: none;
}
.hero{
    background: #F2F2F2;
    background: url(../images/hero-bg.svg),  #F2F2F2;
    background-repeat: no-repeat;
    background-size: 57%;
    background-position: top right;
    position: relative;
    /* overflow: hidden; */
}

.hero_inner{
    display: flex;
}

.hero_left{
    width: 40%;
    padding: 170px 0;
}

/* .hero_left .invite{
    padding: 14px 34px;
} */

.hero_title{
    font-style: normal;
    font-weight: 100;
    font-size: 56px;
    line-height: 64px;
    letter-spacing: -1px;
    color: #2D314D;
    margin-bottom: 24px;
}

.hero_text{
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: -0.28125px;
    color: #9597A5;
    margin-bottom: 36px;
}

.hero_right{
    position: absolute;
    top: -80px;
    right: 0;
}

.hero_right_mb{
    display: none;
}
/* ******************************************************************************* */

.bank_services{
    background: #F4F5F7;
}

.services_inner{
    padding: 95px 0;
}

.services_banner{
    max-width: 635px;
}

.services_title{
    font-style: normal;
    font-weight: 100;
    font-size: 40px;
    line-height: 64px;
    letter-spacing: -0.714286px;
    color: #2D314D;
    margin-bottom: 16px;
}

.services_text{
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: -0.28125px;
    color: #9597A5;
    margin-bottom: 72px;
}

.service_options{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.service_block{
    width: 23%;
}

.block_logo{
    background: linear-gradient(135deg, #33D35E 0%, #2AB6D9 99.58%);
    border-radius: 50%;
    width: 72px;
    height: 72px;
    position: relative;
    margin-bottom: 40px;
}

.service_block .service_logo{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    width: 39px;
    height: 39px;
}

.service_block .block_title{
    font-style: normal;
    font-weight: 100;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -0.428571px;
    color: #2D314D;
    display: inline-block;
    margin-bottom: 26px;
    transition: all ease .5s;
}

.service_block .block_title:hover{
    color: #000000;
}

.service_block .block_text{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: -0.25px;
    color: #9597A5;
}
/* ******************************************************************************** */

.articles{
    background: #F2F2F2;
}

.article_inner{
    padding-top: 80px;
    padding-bottom: 100px;
}

.latest_article{
    font-style: normal;
    font-weight: 100;
    font-size: 40px;
    line-height: 64px;
    letter-spacing: -0.714286px;
    color: #2D314D;
    margin-bottom: 40px;
}

.article_block{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.article_col{
    background: #FFFFFF;
    border-radius: 5px;
    max-width: 255px;
}

.article_image{
    /* width: 100%;
    height: 100%;
    object-fit: contain; */
}

.block_info{
    padding: 24px;
    box-sizing: border-box;
}

.article_author{
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 18px;
    letter-spacing: -0.15625px;
    color: #9597A5;
    display: block;
    margin-bottom: 8px;
}

.article_title{
    font-style: normal;
    font-weight: 100;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.285714px;
    color: #2D314D;
    margin-bottom: 8px;
    display: inline-block;
}

.article_title:hover,
.article_author:hover{
    color: #000000;
    text-shadow: 0 1px .5px rgba(0, 0, 0, .4);
}

.article_text{
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: -0.203125px;
    color: #9597A5;
}
/* ********************************************************************* */

footer{
    background: #2D314D;
}

.footer{
    padding: 48px 0;
    display: flex;
    justify-content: space-between;
}

.footer_left{
    display: flex;

}

.footer_media_col{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 130px;
}

.footer_logo{
    width: 139px;
    height: 20px;
    object-fit: contain;
}

.socil_media{
    
}

.media{
    margin-right: 11px;
}

.media:last-child{
    margin-right: 0;
}

.footer_col{
    display: flex;
    flex-direction: column;
    margin-right: 120px;
}

.footer_link{
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 26px;
    letter-spacing: -0.234375px;
    color: #FFFFFF;
    margin-bottom: 8px;
    transition: all ease .5s;
}

.footer_link:hover{
    color: #30C88F;
}

.footer_col:last-child{
    margin-right: 0;
}

.footer_right{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    
}

.guarantee{
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 26px;
    text-align: right;
    letter-spacing: -0.234375px;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.5;
}

@media only screen and (max-width: 576px){

    body.overflow{
        overflow: hidden;
    }

    .container{
        width: 100%;
        max-width: 526px;
        padding: 0 24px;
    }

    .header{
        padding: 22px 24px;
    }

    .header_menu{
        display: none;
    }

    .header .invite{
        display: none;
    }

    .humburger{
        display: block;
    }
    .humburger span{
        display: block;
        width: 24px;
        height: 1px;
        background: #2D314D;
        margin-bottom: 4px;
    }

    .humburger span:first-child{
        transform-origin: right;
        transition: all ease .5s;
    }

    .humburger span:last-child{
        margin-bottom: 0;
        transform-origin: left;
        transition: all ease .5s;
    }

    .humburger.clicked{
        transform: translateY(3px);
    }

    .humburger.clicked span:nth-child(2){
        visibility: hidden;
    }

    .humburger.clicked span:first-child{
        transform: rotate(45deg) translate(2px, 12px);
    }

    .humburger.clicked span:last-child{
        transform: rotate(-45deg);
    }
    /* ****************************** */

    .overlay{
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        margin: auto;
        width: 100%;
        height: 0;
        z-index: 1;
        background: linear-gradient(180deg, #2D314D 0%, rgba(45, 49, 77, 0.0001) 100%);
        transition: all ease .5s;
    }
    .overlay.clicked{
        height: 100%;
    }
    /* **************************** */

    .humbur-menu{
        display: block;
        position: absolute;
        top: 100px;
        bottom: 0;
        right: 0;
        left: 0;
        margin: auto;
        width: 80%;
        height: 0;
        margin: 0 auto;
        background: #ffffff;
        transition: all ease .5s;
        z-index: 2;
        overflow: hidden;
        border-radius: 7px;
    }

    .humbur-menu.opened{
        height: 225px;
    }

    .humbur-menu .humbur-links{
        width: 120px;
        display: block;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 21px;
        text-align: center;
        letter-spacing: -0.138462px;
        color: #2D314D;
        padding: 12px 0;
        transition: all ease 1s;
        margin: 0 auto;
        border-radius: 25px;
    }

    .humbur-menu .humbur-links:hover{
        color: rgb(14, 147, 14);
        background: radial-gradient(#ffffff, green)
    }




    /* ************************ */

    .hero{
        background: none;
        background: #F2F2F2;
        display: flex;
        flex-direction: column;
        overflow: hidden;
    }

    .hero_left{
        width: 95%;
        position: relative;
        top: -130px;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        /* display: none; */
    }

    .hero_inner{
        display: block;
    }

    .hero_inner.container{
        box-sizing: border-box;
    }

    .hero_title{
        font-weight: 100;
        font-size: 40px;
        line-height: 47px;
        text-align: center;
        letter-spacing: -0.714286px;
        color: #2D314D;
    }

    .hero_text{
        /* width: 90%; */
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 25px;
        text-align: center;
        letter-spacing: -0.234375px;
        color: #9597A5;
    }

    .hero_right{
        display: none;
    }

    .hero_right_mb{
        display: block;
        width: 100%;
        position: relative;
        top: -100px;
    }

    .invite{
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 28px;
        color: #FFFFFF;
    }
    /* ***************************** */
    
    .services_inner{
        padding: 64px 0;
    }
    
    .services_banner{
        width: auto;
    }
    
    .services_title{
        text-align: center;
        padding: 0 15px;
    }
    
    .services_text{
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 25px;
        text-align: center;
        letter-spacing: -0.234375px;
        color: #9597A5;
        margin-bottom: 56px;
        padding: 0 15px;
    }
    
    .service_options{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    
    .service_block{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-bottom: 32px;
    }
    
    .block_logo{
        background: linear-gradient(135deg, #33D35E 0%, #2AB6D9 99.58%);
        border-radius: 50%;
        width: 72px;
        height: 72px;
        position: relative;
        margin-bottom: 40px;
    }
    
    .service_block .block_title{
        font-style: normal;
        font-weight: 100;
        font-size: 20px;
        line-height: 28px;
        text-align: center;
        letter-spacing: -0.357143px;
        color: #2D314D;
        margin-bottom: 16px;
    }
    
    .service_block .block_text{
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 25px;
        text-align: center;
        letter-spacing: -0.234375px;
        color: #9597A5;
        padding: 0 15px;

    }
    /* ********************************** */
    
    .article_inner{
        padding: 88px 0;
    }
    
    .latest_article{
        font-style: normal;
        font-weight: 100;
        font-size: 32px;
        line-height: 38px;
        text-align: center;
        letter-spacing: -0.571429px;
        color: #2D314D;
    }
    
    .article_block{
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
    }
    
    .article_col{
        /* width: 80%; */
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 24px;
        max-width: 90%;
    }
    
    .article_image{
        width: 100%;
    }
    /* *********************************** */
    
    .footer{
        padding: 40px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .footer_left{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    
    }
    
    .footer_media_col{
        /* display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center; */
        margin-bottom: 30px;
        margin-right: 0;
    }
    
    .footer_logo{
        width: 139px;
        height: 20px;
        object-fit: contain;
        margin-bottom: 34px;
    }
    
    .footer_col{
        /* display: flex;
        flex-direction: column; */
        align-items: center;
        justify-content: center;
        margin-right: 0;
        margin-bottom: 8px;
    }

    .footer_col:last-child{
        margin-bottom: 32px;
    }
    
    .footer_right{
        align-items: center;
        
    }
    
    .footer_right .invite{
        margin-bottom: 24px;
    }
    .guarantee{
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 26px;
        text-align: right;
        letter-spacing: -0.234375px;
        color: #FFFFFF;
        mix-blend-mode: normal;
        opacity: 0.5;
    }
    

    

}













