h1, h2, h3, h4, h5, h6, p, a{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.hero{
    background-image:url(https://img.artlebedev.ru/everything_files/images/3494/tema.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}