h1, h2, h3, h4, h5, h6, p, a{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.hero{
    background-image:url(https://img.artlebedev.ru/everything_files/images/3494/tema.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}

header{

    background-color: #2693ec;
    transition: all ease .5s;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;

    &__left{
        font-weight: 600;
        border: 1px solid #fff;
        padding: 7px;
        border-radius: 50%;
        transition: all ease .5s;
        color: #ffffff;

        &:hover{
            transform: scale(1.1);
            color: #fff;
        }
    }

    &__middle{

        .brand{
            color: #fff;
            padding: 10px 20px;
            transition: all ease .3s;

            &:hover{
                background-color: rgba(255, 255, 255, 0.237);
            }
        }
    }

    &__right{
        font-weight: 600;
        border: 1px solid #fff;
        padding: 5px 20px;
        border-radius: 17px;
        transition: all ease .5s;
        color: #fff;
        transform: scale(1);

        &:hover{
            transform: scale(1.1);
            color: #fff;
        }

    }
}

.header-bottom{
    width: 100%;

    .header-link{
        width: 16.38%;
        display: inline-block;
        text-align: center;
        padding: 10px 0;
        font-size: 20px;
        font-weight: 600;
        color: #fff;
        transition: all ease .5s;

        &:hover{
            background-color: rgba(255, 255, 255, 0.253);
        }
    }
}
.hero{
    background-image: url(https://img.artlebedev.ru/everything_files/images/3494/tema.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: calc(100vh - 130px);
}
