@font-face {
    font-family: 'Futura PT';
    src: url('../fonts/FuturaPT-Bold.eot');
    src: url('//fonts/FuturaPT-Bold.eot') format('embedded-opentype'),
        url('../fonts/FuturaPT-Bold.woff') format('woff'),
        url('../fonts/FuturaPT-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Futura PT';
    src: url('../fonts/FuturaPT-Bold_1.eot');
    src: url('../fonts/FuturaPT-Bold_1.eot../fonts/') format('embedded-opentype'),
        url('../fonts/FuturaPT-Bold_1.woff') format('woff'),
        url('../fonts/FuturaPT-Bold_1.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Futura PT Extra';
    src: url('../fonts/FuturaPT-ExtraBold.eot');
    src: url('../fonts/FuturaPT-ExtraBold.eot') format('embedded-opentype'),
        url('../fonts/FuturaPT-ExtraBold.woff') format('woff'),
        url('../fonts/FuturaPT-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Futura PT';
    src: url('../fonts/FuturaPT-Heavy.eot');
    src: url('../fonts/FuturaPT-Heavy.eot') format('embedded-opentype'),
        url('../fonts/FuturaPT-Heavy.woff') format('woff'),
        url('../fonts/FuturaPT-Heavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Futura PT';
    src: url('../fonts/FuturaPT-Light.eot');
    src: url('../fonts/FuturaPT-Light.eot') format('embedded-opentype'),
        url('../fonts/FuturaPT-Light.woff') format('woff'),
        url('../fonts/FuturaPT-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Futura PT';
    src: url('../fonts/FuturaPT-LightObl.eot');
    src: url('../fonts/FuturaPT-LightObl.eot') format('embedded-opentype'),
        url('../fonts/FuturaPT-LightObl.woff') format('woff'),
        url('../fonts/FuturaPT-LightObl.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Futura PT';
    src: url('../fonts/FuturaPT-Medium.eot');
    src: url('../fonts/FuturaPT-Medium.eot') format('embedded-opentype'),
        url('../fonts/FuturaPT-Medium.woff') format('woff'),
        url('../fonts/FuturaPT-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

body{
    font-family: 'Futura PT';
    /* background-repeat: no-repeat;
    background-position: center;
    background-size: cover; */

    background:url(../images/body.png), rgba(229, 229, 229, 0.3) ;
}

.container{
    width: 1223px;
    margin: 0 auto;
}

header{

}

.header_top{
    background: #F9F8F8;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 12px 65px 12px 258px;
}

.header_top .address{
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #333333;
    position: relative;
}

.header_top .address::before{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: -24px;
    margin: auto;
    background: url(../images/house.svg);
    background-repeat: no-repeat;
    -webkit-background-size: contain;
       -moz-background-size: contain;
            background-size: contain;
    background-position: center;
    width: 14px;
    height: 13px;
}

.header_top .phone-num{
    
}

.header_top .phone-num .phone_main{
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #333333;
    margin-right: 22px;
    position: relative;
    -webkit-transition: all ease .5s;
    -o-transition: all ease .5s;
    -moz-transition: all ease .5s;
    transition: all ease .5s
}

.header_top .phone-num .phone_main::before{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: -24px;
    margin: auto;
    background: url(../images/phone.svg);
    background-repeat: no-repeat;
    -webkit-background-size: contain;
       -moz-background-size: contain;
            background-size: contain;
    background-position: center;
    width: 13px;
    height: 13px;
}

.header_top .phone-num .phone{
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #333333;
    margin-right: 22px;
    position: relative;
    -webkit-transition: all ease .5s;
    -o-transition: all ease .5s;
    -moz-transition: all ease .5s;
    transition: all ease .5s
}

.header_top .phone-num .phone::before{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: -15px;
    margin: auto;
    background: url(../images/Ellipse.svg);
    background-repeat: no-repeat;
    -webkit-background-size: contain;
       -moz-background-size: contain;
            background-size: contain;
    background-position: center;
    width: 4px;
    height: 4px;
}

.header_top .phone-num .phone_main:hover,
.header_top .phone-num .phone:hover{
    color: #FFBD54;
}

.header_top .phone-num .phone_main:active,
.header_top .phone-num .phone:active{
    color: #333333;
    opacity: .6;
}

.working_hours_wrapper{
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.working_hours:first-child{
    margin-right: 17px; 
    position: relative;
}


.working_hours:first-child::before{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: -20px;
    margin: auto;
    background: url(../images/Group.svg);
    background-repeat: no-repeat;
    -webkit-background-size: contain;
       -moz-background-size: contain;
            background-size: contain;
    background-position: center;
    width: 14px;
    height: 14px;
}

.working_hours .day{
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #333333;
}

.working_hours .day .hour{
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #333333;
    margin-left: 5px;
}
/* *************************************************************** */

.header_bottom{
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0 65px;
    background-color: #fff;
}

.logo{
    width: 177.55px;
    height: 86.23px;
    -o-object-fit: contain;
       object-fit: contain;
    position: absolute;
}

.logo:hover{
    opacity: .8;
}
.logo:active{
        opacity: .6;
}
.header_links{
    width: 740px;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    position: relative;
    /* padding: 20px 0; */
}

.header_links::before{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: -30px;
    margin: auto;
    background: url(../images/active.svg);
    background-repeat: no-repeat;
    -webkit-background-size: contain;
       -moz-background-size: contain;
            background-size: contain;
    background-position: center;
    width: 14.75px;
    height: 14.75px;
}

.header_links .header_menu{
    padding: 20px 0;
    display: inline-block;
    margin-right: 55px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #333333;
    position: relative;
    
}

.header_links .header_menu::before{
    content: "";
    position: absolute;
    bottom: 15px;
    right: 0;
    left: 0;
    margin: auto;
    background: #F4FFAD;
    width: 100%;
    height: 0;
    -webkit-transition: all ease .6s;
    -o-transition: all ease .6s;
    -moz-transition: all ease .6s;
    transition: all ease .6s;
}

.header_links .header_menu:hover::before{
    height: 6px;
}

.header_links .header_menu:active{
    opacity: .6;
}

.header_links .header_menu:last-child{
    margin-right: 0;
}
.empty_block{
    width: 177.55px; 
}

.ask_question{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    text-align: right;
    color: #333333;
    position: relative;
}

.ask_question::before{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: -26px;
    margin: auto;
    background: url(../images/pet.svg);
    background-repeat: no-repeat;
    -webkit-background-size: contain;
       -moz-background-size: contain;
            background-size: contain;
    background-position: center;
    width: 23px;
    height: 21px;
}
/* ********************************************************** */