@import 'normalize';

body{
    background-color: #F4F7FD;
}

header{
    box-shadow: 0 12px 8px 10px rgba(165, 165, 165, .1);
    background-color: #fff;
}

.searching{
    padding: 2px;
    border-radius: 7px;
    box-sizing: border-box;
}

.searching-icon{
    width: 19px;
    height: 19px;
    margin-right: 5px;
}

.languages{
    border: 1px solid grey;
    border-radius: 10px;
    color: grey;

    &:hover{
        border: 1px solid black;
        color: black;
    }
}

.dropdown-menu.lang-drop:hover .languages{
    color: #000000;
}

.dropdown-width{
    width: 50%;
}

.korzinka{
    border: 1px solid grey;
    border-radius: 10px;
}

.cart-icon{
    margin-right: 10px;
}

.text-korzinka,
.phone-number{
    color: rgb(168, 165, 165);
    font-weight: 550;

    &:hover{
        color: #000000;
    }
}

.smartphone{
    width: 19px;
    height: 19px;  
}

.menus{
    color: #4d4c4c;
    font-size: 15px;
    font-weight: 550;
    transition: all ease .5s;

    &:hover{
        color:  rgb(131, 131, 255);
    }
}

.hamburger{

    margin-right: 5px;

    &__link{
        width: 20px;
        height: 2px;
        background-color: rgb(131, 131, 255);
        margin-bottom: 4px;

        &:last-child{
            margin-bottom: 0;
        }
    }
}

main{
    background-color: #F4F7FD;
}

.crumb-menus{
    font-size: 15px;
    font-weight: 550;
    color: #acacac;
    transition: all ease .5s;

    &:hover{
        color: black;
    }
    
    &.active{
        color: black;
    }
}

.aside-section{
    border-radius: 25px;
    box-shadow: 0 12px 18px rgba(165, 165, 165, .3);
    overflow: hidden;

    .aside-title{
        color: #999898;
        font-weight: 550;
    }

    form{

        input[type=checkbox]:checked + label{
            color: black;
        }

        .extra-cols{
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 15px;
            background-color: #DFF1FF;
            transition: all ease .5s;

            
            .down-sign{
                width: 20px;
                height: 20px;
                object-fit: cover;

                &.clicked{
                    transform: rotate(180deg);
                }
            }
        }

        .aside-item{
            display: flex;
            align-items: center;

            label{
                color: #929090;
                font-weight: 550;
            }
        }
    }
}

.selection{
    background-color: rgb(74, 74, 240);
    display: inline-block;
    padding: 2px;
    border-radius: 7px;


    span img{
        width: 10px;
        height: 10px;
        margin-right: 5px;
        margin-left: 3px;
    }
}

.card{

    background-color: #FFFFFF;
    border: none;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 0 5px 18px rgba(165, 165, 165, .3);
    position: relative;

    .skidka{
        position: absolute;
        background-color: #FF9800;
        color: #FFFFFF;
        padding: 2px 6px;
        border-radius:7px;
        font-size: 13px;
        font-weight: 550;
    }

    img{
        width: 142px;
        height: 142px;
        object-fit: cover;
        display: block;
        margin-right: auto;
        margin-left: auto;
    }

    .card-body{

        .card-title-phone{
            font-weight: 550;
            font-size: 12px;

            &:hover{
                color: #077bda;
            }
        }

        .stars{
            i{
                color: #008DFF;
            }
        }
    }
}

.comment{
    color: #acacac;
    font-size: 12px;
}

.comment-icon{
    color: #acacac;
}

svg.cart-bag{
    width: 25px;
    height: 30px;
    fill: #c2c6d1;

    &:hover{
        fill: #008DFF;
    }
}

.cost{

    .old-cost{
        font-size: 11px;
    }

    .new-cost{
        font-size: 14px;
        font-weight: 550;
    }
}

.shopping{

    cursor: pointer;

    &:hover{
        color: #FF9800;
    }

    .order{
        font-size: 12px;
    }
}

