body {
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
}

p {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

body {
  background-color: #F4F7FD;
}

header {
  -webkit-box-shadow: 0 12px 8px 10px rgba(165, 165, 165, 0.1);
          box-shadow: 0 12px 8px 10px rgba(165, 165, 165, 0.1);
  background-color: #fff;
}

.searching {
  padding: 2px;
  border-radius: 7px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.searching-icon {
  width: 19px;
  height: 19px;
  margin-right: 5px;
}

.languages {
  border: 1px solid grey;
  border-radius: 10px;
  color: grey;
}

.languages:hover {
  border: 1px solid black;
  color: black;
}

.dropdown-menu.lang-drop:hover .languages {
  color: #000000;
}

.dropdown-width {
  width: 50%;
}

.korzinka {
  border: 1px solid grey;
  border-radius: 10px;
}

.cart-icon {
  margin-right: 10px;
}

.text-korzinka,
.phone-number {
  color: #a8a5a5;
  font-weight: 550;
}

.text-korzinka:hover,
.phone-number:hover {
  color: #000000;
}

.smartphone {
  width: 19px;
  height: 19px;
}

.menus {
  color: #4d4c4c;
  font-size: 15px;
  font-weight: 550;
  -webkit-transition: all ease .5s;
  transition: all ease .5s;
}

.menus:hover {
  color: #8383ff;
}

.hamburger {
  margin-right: 5px;
}

.hamburger__link {
  width: 20px;
  height: 2px;
  background-color: #8383ff;
  margin-bottom: 4px;
}

.hamburger__link:last-child {
  margin-bottom: 0;
}

main {
  background-color: #F4F7FD;
}

.crumb-menus {
  font-size: 15px;
  font-weight: 550;
  color: #acacac;
  -webkit-transition: all ease .5s;
  transition: all ease .5s;
}

.crumb-menus:hover {
  color: black;
}

.crumb-menus.active {
  color: black;
}

.aside-section {
  border-radius: 25px;
  -webkit-box-shadow: 0 12px 18px rgba(165, 165, 165, 0.3);
          box-shadow: 0 12px 18px rgba(165, 165, 165, 0.3);
  overflow: hidden;
}

.aside-section .aside-title {
  color: #999898;
  font-weight: 550;
}

.aside-section form input[type=checkbox]:checked + label {
  color: black;
}

.aside-section form .extra-cols {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 15px;
  background-color: #DFF1FF;
  -webkit-transition: all ease .5s;
  transition: all ease .5s;
}

.aside-section form .extra-cols .down-sign {
  width: 20px;
  height: 20px;
  -o-object-fit: cover;
     object-fit: cover;
}

.aside-section form .extra-cols .down-sign.clicked {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.aside-section form .aside-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.aside-section form .aside-item label {
  color: #929090;
  font-weight: 550;
}

.selection {
  background-color: #4a4af0;
  display: inline-block;
  padding: 2px;
  border-radius: 7px;
}

.selection span img {
  width: 10px;
  height: 10px;
  margin-right: 5px;
  margin-left: 3px;
}

.card img {
  width: 142px;
  height: 142px;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
  margin-right: auto;
  margin-left: auto;
}
/*# sourceMappingURL=main.css.map */