.image-slider{
    width: 550px;
    height: 350px;
    overflow: hidden;
    margin-right: auto;
    margin-left: auto;
    margin-top: 150px;
    border: 2px solid rgb(109, 109, 238);
    border-radius: 5px;
    background-image: url(../images/car4.jpg);

    // .images{
    //     width: 100%;
    //     height: 100%;
    //     object-fit: cover;
    // }
}

