body{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-slider{
    width: 750px;
    height: 400px;
    margin-right: auto;
    margin-left: auto;
    border: 20px solid rgb(109, 109, 238);
    border-radius: 5px;
    background-image: url(./images/car4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transition: all ease .3s;

   
}

