@font-face {
    font-family: 'Futura PT';
    src: url('../fonts/FuturaPT-Bold.eot');
    src: url('//fonts/FuturaPT-Bold.eot') format('embedded-opentype'),
        url('../fonts/FuturaPT-Bold.woff') format('woff'),
        url('../fonts/FuturaPT-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Futura PT';
    src: url('../fonts/FuturaPT-Bold_1.eot');
    src: url('../fonts/FuturaPT-Bold_1.eot../fonts/') format('embedded-opentype'),
        url('../fonts/FuturaPT-Bold_1.woff') format('woff'),
        url('../fonts/FuturaPT-Bold_1.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Futura PT Extra';
    src: url('../fonts/FuturaPT-ExtraBold.eot');
    src: url('../fonts/FuturaPT-ExtraBold.eot') format('embedded-opentype'),
        url('../fonts/FuturaPT-ExtraBold.woff') format('woff'),
        url('../fonts/FuturaPT-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Futura PT';
    src: url('../fonts/FuturaPT-Heavy.eot');
    src: url('../fonts/FuturaPT-Heavy.eot') format('embedded-opentype'),
        url('../fonts/FuturaPT-Heavy.woff') format('woff'),
        url('../fonts/FuturaPT-Heavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Futura PT';
    src: url('../fonts/FuturaPT-Light.eot');
    src: url('../fonts/FuturaPT-Light.eot') format('embedded-opentype'),
        url('../fonts/FuturaPT-Light.woff') format('woff'),
        url('../fonts/FuturaPT-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Futura PT';
    src: url('../fonts/FuturaPT-LightObl.eot');
    src: url('../fonts/FuturaPT-LightObl.eot') format('embedded-opentype'),
        url('../fonts/FuturaPT-LightObl.woff') format('woff'),
        url('../fonts/FuturaPT-LightObl.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Futura PT';
    src: url('../fonts/FuturaPT-Medium.eot');
    src: url('../fonts/FuturaPT-Medium.eot') format('embedded-opentype'),
        url('../fonts/FuturaPT-Medium.woff') format('woff'),
        url('../fonts/FuturaPT-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

body{
    font-family: 'Futura PT';
    /* background-repeat: no-repeat;
    background-position: center;
    background-size: cover; */

    background:url(../images/body.png), rgba(229, 229, 229, 0.3) ;
}

.container{
    width: 1300px;
    margin: 0 auto;
}

.container_small{
    width: 1000px;
    margin: 0 auto;
}

header{

}

.header_top{
    background: #F9F8F8;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 12px 65px 12px 258px;
}

.header_top .address{
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #333333;
    position: relative;
}

.header_top .address::before{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: -24px;
    margin: auto;
    background: url(../images/house.svg);
    background-repeat: no-repeat;
    -webkit-background-size: contain;
       -moz-background-size: contain;
            background-size: contain;
    background-position: center;
    width: 14px;
    height: 13px;
}

.header_top .phone-num{
    
}

.header_top .phone-num .phone_main{
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #333333;
    margin-right: 22px;
    position: relative;
    -webkit-transition: all ease .5s;
    -o-transition: all ease .5s;
    -moz-transition: all ease .5s;
    transition: all ease .5s
}

.header_top .phone-num .phone_main::before{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: -24px;
    margin: auto;
    background: url(../images/phone.svg);
    background-repeat: no-repeat;
    -webkit-background-size: contain;
       -moz-background-size: contain;
            background-size: contain;
    background-position: center;
    width: 13px;
    height: 13px;
}

.header_top .phone-num .phone{
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #333333;
    margin-right: 22px;
    position: relative;
    -webkit-transition: all ease .5s;
    -o-transition: all ease .5s;
    -moz-transition: all ease .5s;
    transition: all ease .5s
}

.header_top .phone-num .phone::before{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: -15px;
    margin: auto;
    background: url(../images/Ellipse.svg);
    background-repeat: no-repeat;
    -webkit-background-size: contain;
       -moz-background-size: contain;
            background-size: contain;
    background-position: center;
    width: 4px;
    height: 4px;
}

.header_top .phone-num .phone_main:hover,
.header_top .phone-num .phone:hover{
    color: #FFBD54;
}

.header_top .phone-num .phone_main:active,
.header_top .phone-num .phone:active{
    color: #333333;
    opacity: .6;
}

.working_hours_wrapper{
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.working_hours:first-child{
    margin-right: 17px; 
    position: relative;
}


.working_hours:first-child::before{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: -20px;
    margin: auto;
    background: url(../images/Group.svg);
    background-repeat: no-repeat;
    -webkit-background-size: contain;
       -moz-background-size: contain;
            background-size: contain;
    background-position: center;
    width: 14px;
    height: 14px;
}

.working_hours .day{
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #333333;
}

.working_hours .day .hour{
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #333333;
    margin-left: 5px;
}
/* *************************************************************** */

.header_bottom{
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    /* padding: 0 65px; */
   
}

.header_bottom_inner{
    background-color: #fff;
}

.logo{
    width: 177.55px;
    height: 86.23px;
    -o-object-fit: contain;
       object-fit: contain;
    position: absolute;
}

.logo:hover{
    opacity: .8;
}
.logo:active{
        opacity: .6;
}
.header_links{
    width: 740px;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    position: relative;
    /* padding: 20px 0; */
}

.header_links::before{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: -30px;
    margin: auto;
    background: url(../images/active.svg);
    background-repeat: no-repeat;
    -webkit-background-size: contain;
       -moz-background-size: contain;
            background-size: contain;
    background-position: center;
    width: 14.75px;
    height: 14.75px;
}

.header_links .header_menu{
    padding: 20px 0;
    display: inline-block;
    margin-right: 55px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #333333;
    position: relative;
    
}

.header_links .header_menu::before{
    content: "";
    position: absolute;
    bottom: 15px;
    right: 0;
    left: 0;
    margin: auto;
    background: #F4FFAD;
    width: 100%;
    height: 0;
    -webkit-transition: all ease .6s;
    -o-transition: all ease .6s;
    -moz-transition: all ease .6s;
    transition: all ease .6s;
}

.header_links .header_menu:hover::before{
    height: 6px;
}

.header_links .header_menu:active{
    opacity: .6;
}

.header_links .header_menu:last-child{
    margin-right: 0;
}
.empty_block{
    width: 177.55px; 
}

.ask_question{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    text-align: right;
    color: #333333;
    position: relative;
}

.ask_question::before{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: -26px;
    margin: auto;
    background: url(../images/pet.svg);
    background-repeat: no-repeat;
    -webkit-background-size: contain;
       -moz-background-size: contain;
            background-size: contain;
    background-position: center;
    width: 23px;
    height: 21px;
}
/* ********************************************************** */

.hero{
    background: url(../images/bird.png);
    background-repeat: no-repeat;
    background-size: 435px 435px;
    background-position: center right;
}

.hero_inner{

}

.hero_left{
    padding-top: 118px;
    padding-bottom: 140px;

}

.hero_title{
    font-style: normal;
    font-weight: bold;
    font-size: 70px;
    line-height: 64px;
    color: #333333;
    margin-bottom: 21px;
}

.hero_text{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #949494;
    width: 447px;
}
/* ************************************************************************ */

.service{
    margin-bottom: 168px;

}

.service_inner{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.service_block{
    display: inline-block;
    width: 305px;
    height: 420px;
    background: #FFFFFF;
    border-radius: 5px 5px 0px 0px;
    padding: 58px 53px 0 53px;
    box-sizing: border-box;
    transition: all ease .5s;
}

.service_block:hover{
    box-shadow: 0 0 3px 5px rgba(0, 0, 0, .05);
}

.block_logo{
    margin-bottom: 21px;
}

.block_title{
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 34px;
    color: #333333;
    margin-bottom: 14px;
}

.block_text{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #949494;
    margin-bottom: 26px;
}

.black_btn{
    background: #000000;
    border-radius: 3px;
    ont-style: normal;
    font-weight: 450;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
    padding: 15px 30px;
    display: inline-block;
}

.blue_btn{
    background: #78C0DE;
    border-radius: 3px;
    font-style: normal;
    font-weight: 450;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
    padding: 15px 30px;
    display: inline-block;
}

.golden_btn{
    background: #FFBD54;
    border-radius: 3px;
    font-style: normal;
    font-weight: 450;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
    padding: 15px 30px;
    display: inline-block;
}

































































/* *********************************************************************** */
footer{
    background: #F3F3F3;
    border: 1px solid #EBEBEB;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

.footer_inner{
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
       -moz-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 65px 0 28px 0;

}

.footer_left{
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.footer_logo{
    width: 158px;
    height: 76px;
    -o-object-fit: contain;
       object-fit: contain;
    margin-right: 67px;
    -webkit-transition: all ease .5s;
    -o-transition: all ease .5s;
    -moz-transition: all ease .5s;
    transition: all ease .5s;
}

.footer_logo:hover{
    opacity: .8;
}

.footer_logo:active{
    opacity: .6;
}

.footer_left_col{
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-right: 70px;
}
.footer_left_col:last-child{
    margin-right: 0;
}

.footer_menu{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #333333;
    margin-bottom: 15px;
    -webkit-transition: all ease .5s;
    -o-transition: all ease .5s;
    -moz-transition: all ease .5s;
    transition: all ease .5s;
}

.footer_menu:hover{
    color: #FFBD54;
}

.footer_menu:active{
    color: rgba(51, 51, 51, 0.7);   
}

.footer_right{
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
       -moz-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.footer_right_col{
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-right: 90px;
}

.footer_right_col:last-child{
    margin-right: 0;
}
.time{
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #333333;
    margin-bottom: 5px;
}

.time:first-child{
    position: relative;
}

.time:first-child::before{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: -30px;
    background: url(../images/Group.svg);
    background-repeat: no-repeat;
    -webkit-background-size: contain;
       -moz-background-size: contain;
            background-size: contain;
    background-position: center;
    width: 16px;
    height: 16px;
}

.time .day{
    font-weight: 600;
}

.footer_right_col .address{
    width: 157px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
}

.address:before{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: -30px;
    background: url(../images/house.svg);
    background-repeat: no-repeat;
    -webkit-background-size: contain;
       -moz-background-size: contain;
            background-size: contain;
    background-position: center;
    width: 16px;
    height: 16px;
}

.phone_number{
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 4px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    text-align: right;
    color: #333333;
    -webkit-transition: all ease .5s;
    -o-transition: all ease .5s;
    -moz-transition: all ease .5s;
    transition: all ease .5s;

}

.phone_number:hover{
    color: #FFBD54;
}
.phone_number:active{
    color: #333333;
    opacity: .6;
}
.phone_number:first-child{
    position: relative;
}
.phone_number:first-child::before{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: -30px;
    background: url(../images/phone.svg);
    background-repeat: no-repeat;
    -webkit-background-size: contain;
       -moz-background-size: contain;
            background-size: contain;
    background-position: center;
    width: 16px;
    height: 16px;
}
.guarantee{
    text-align: right;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    text-align: right;
    color: #5C5C5C;
    padding-bottom: 23px;
}
